# Virtual environment
venv/

# Documentation
README.md

# Old version
MCAV2/

# Environment variables (SECURITY)
.env
. env.local
.env. *.local

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Python venv
.venv/

